@tailwind base;
@tailwind components;
@tailwind utilities;

.amsterdam {
    font-family: "New Amsterdam", sans-serif;
  }

  .quantico {
    font-family: "Quantico", sans-serif;
  }

  * {
    font-family: "Rubik", sans-serif;
  }